.Container {
  border: solid black;
  height: 625px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  padding: 10px;
  background-size: contain;
  background-position: center;
}
.App {

  background-color: #616161;
}
.Card {
  border: solid 1px #f1f1f133;
  height: 90px;
  width: 62px;
  background-size: contain;
  perspective: 1000px;

  .CardInner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  img {
    height: 90px;
    width: 62px;
  } 
  &:hover {
    cursor: grab;
    /* TODO: click and drag overrides the transform */
    /* transform: rotate(90deg) */

  }

  &.flipped .CardInner {
    transform: rotateY(180deg);
  } 

  .CardFront, .CardBack {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .CardBack {
    transform: rotateY(180deg);
  }

  &:active {
    cursor: grabbing;
  }
}

.Hand {
  height: 140px;
  width: 80%;
  border: solid black;
  margin: auto;
}


.flex {
  display: flex;
  justify-content: space-between;

  &.flexCenter {
    justify-content: center;
    gap: 10px;
  }
}