.Container {
  border: solid black;
  height: 625px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  padding: 10px;
  background-size: contain;
  background-position: center;
}
.App {

  background-color: #616161;
  width: 800px;
  margin: auto;
}
.Card {
  border: solid 1px #f1f1f133;
  height: 90px;
  width: 62px;
  background-size: contain;
  perspective: 1000px;

  .CardInner {
    /* transition: transform 0.6s; */
    transform-style: preserve-3d;
  }

  img {
    height: 90px;
    width: 62px;
  } 
  &:hover {
    cursor: grab;
    /* TODO: click and drag overrides the transform */
    /* transform: rotate(90deg) */

  }

  &.flipped .CardInner {
    transform: rotateY(180deg);
  } 

  .CardFront, .CardBack {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .CardBack {
    transform: rotateY(180deg);
  }

  &:active {
    cursor: grabbing;
  }
}

.CardDetails {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  max-width: 300px;
}

.Hand {
  height: 140px;
  width: 80%;
  border: solid black;
  margin: auto;
}


.flex {
  display: flex;
  justify-content: space-between;

  &.flexCenter {
    justify-content: center;
    gap: 10px;
  }

  &.flexStart {
    justify-content: flex-start;
  }

  &.flexWrap {
    flex-wrap: wrap;
  }

  &.alignStart {
    align-items: flex-start;
  }
}

.bgBlue {
  background-color: #8f8fb9;
}

.search {
  height: 400px;
  width: 200px;
  padding: 10px;
  overflow: scroll;
  border-radius: 10px;
  opacity: 0.8;
  position: fixed;
  top: 20px;
  z-index: 99;
  right: 20px;
}

p {
  margin: 2px;
}

input[type="search"] {
  font-size: 20px;
  padding: 5px;
  width: 100%;
}

.overflowScroll {
  overflow: scroll;
}

