/* Light Mode Colors */
:root {
  --text-50: #f5f0f3;
  --text-100: #ebe0e7;
  --text-200: #d6c2ce;
  --text-300: #c2a3b6;
  --text-400: #ad859d;
  --text-500: #996685;
  --text-600: #7a526a;
  --text-700: #5c3d50;
  --text-800: #3d2935;
  --text-900: #1f141b;
  --text-950: #0f0a0d;

  --background-50: #f6eef3;
  --background-100: #eedde7;
  --background-200: #ddbbcf;
  --background-300: #cc99b8;
  --background-400: #bb77a0;
  --background-500: #aa5588;
  --background-600: #88446d;
  --background-700: #663352;
  --background-800: #442236;
  --background-900: #22111b;
  --background-950: #11090e;

  --primary-50: #f7eef4;
  --primary-100: #eedde8;
  --primary-200: #ddbbd2;
  --primary-300: #cd98bb;
  --primary-400: #bc76a5;
  --primary-500: #ab548e;
  --primary-600: #894372;
  --primary-700: #673255;
  --primary-800: #442239;
  --primary-900: #22111c;
  --primary-950: #11080e;

  --secondary-50: #f7edf4;
  --secondary-100: #f0dbe9;
  --secondary-200: #e1b7d3;
  --secondary-300: #d293bd;
  --secondary-400: #c36fa7;
  --secondary-500: #b44b91;
  --secondary-600: #903c74;
  --secondary-700: #6c2d57;
  --secondary-800: #481e3a;
  --secondary-900: #240f1d;
  --secondary-950: #12080e;

  --accent-50: #f8ecf4;
  --accent-100: #f1dae9;
  --accent-200: #e4b4d4;
  --accent-300: #d68fbe;
  --accent-400: #c969a9;
  --accent-500: #bb4493;
  --accent-600: #963676;
  --accent-700: #702958;
  --accent-800: #4b1b3b;
  --accent-900: #250e1d;
  --accent-950: #13070f;


}

/* Dark Mode Colors */
:root {
  --text-50: #f5f0f3;
  --text-100: #ebe0e7;
  --text-200: #d6c2ce;
  --text-300: #c2a3b6;
  --text-400: #ad859d;
  --text-500: #996685;
  --text-600: #7a526a;
  --text-700: #5c3d50;
  --text-800: #3d2935;
  --text-900: #1f141b;
  --text-950: #0f0a0d;

  --background-50: #f6eef3;
  --background-100: #eedde7;
  --background-200: #ddbbcf;
  --background-300: #cc99b8;
  --background-400: #bb77a0;
  --background-500: #aa5588;
  --background-600: #88446d;
  --background-700: #663352;
  --background-800: #442236;
  --background-900: #22111b;
  --background-950: #11090e;

  --primary-50: #f7eef4;
  --primary-100: #eedde8;
  --primary-200: #ddbbd2;
  --primary-300: #cd98bb;
  --primary-400: #bc76a5;
  --primary-500: #ab548e;
  --primary-600: #894372;
  --primary-700: #673255;
  --primary-800: #442239;
  --primary-900: #22111c;
  --primary-950: #11080e;

  --secondary-50: #f7edf4;
  --secondary-100: #f0dbe9;
  --secondary-200: #e1b7d3;
  --secondary-300: #d293bd;
  --secondary-400: #c36fa7;
  --secondary-500: #b44b91;
  --secondary-600: #903c74;
  --secondary-700: #6c2d57;
  --secondary-800: #481e3a;
  --secondary-900: #240f1d;
  --secondary-950: #12080e;

  --accent-50: #f8ecf4;
  --accent-100: #f1dae9;
  --accent-200: #e4b4d4;
  --accent-300: #d68fbe;
  --accent-400: #c969a9;
  --accent-500: #bb4493;
  --accent-600: #963676;
  --accent-700: #702958;
  --accent-800: #4b1b3b;
  --accent-900: #250e1d;
  --accent-950: #13070f;
}
  
body {
  background-color: var(--background);
  color: var(--text-50);
}

.Container {
  border: solid var(--text-50);
  height: 625px;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  padding: 10px;
  background-size: contain;
  background-position: center;
}
.App {
  width: 800px;
  margin: auto;
}
.Card {
  border: solid 1px #f1f1f133;
  height: 90px;
  width: 62px;
  background-size: contain;
  perspective: 1000px;
  box-shadow: 1px 1px 3px 0px var(--text-50);;

  img {
    height: 90px;
    width: 62px;
  } 

  &.CardLarge {
    height: 270px;
    width: 186px;

    img {
      height: 270px;
      width: 186px;
    } 
  }

  .CardInner {
    /* transition: transform 0.6s; */
    transform-style: preserve-3d;
  }

  &:hover {
    cursor: grab;
    /* TODO: click and drag overrides the transform */
    /* transform: rotate(90deg) */

  }

  &.flipped .CardInner {
    transform: rotateY(180deg);
  } 

  .CardFront, .CardBack {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .CardBack {
    transform: rotateY(180deg);
  }

  &:active {
    cursor: grabbing;
  }

  &.Animate {
    box-shadow: -5px 200px 110px -141px rgba(0,0,0,0.8);
    margin-bottom: 10px;
    border: none;

    .CardFront {
      animation-name: spinCardFront;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }

    .CardBack {
      animation-name: spinCardBack;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes spinCardFront {
  0%   {transform: rotateY(0deg)}
  100% {transform: rotateY(360deg)}
}

@keyframes spinCardBack {
  0%   {transform: rotateY(180deg)}
  100% {transform: rotateY(540deg)}
}

.CardDetails {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  max-width: 300px;
}

.Hand {
  height: 140px;
  width: 80%;
  border: solid var(--text-50);
  margin: auto;
}


.flex {
  display: flex;
  justify-content: space-between;

  &.flexCenter {
    justify-content: center;
    gap: 10px;
  }

  &.justifyStart {
    justify-content: flex-start;
  }

  &.flexWrap {
    flex-wrap: wrap;
  }

  &.alignItemsStart {
    align-items: flex-start;
  }

  &.alignContentStart {
    align-content: flex-start;
  }

  


}

.bgBlue {
  background-color: #8f8fb9;
}

.search {
  height: 400px;
  width: 200px;
  padding: 10px;
  overflow: scroll;
  border-radius: 10px;
  opacity: 0.8;
  position: fixed;
  top: 20px;
  z-index: 99;
  right: 20px;
}

p {
  margin: 2px;
}

input[type="search"] {
  font-size: 20px;
  padding: 5px;
  width: 100%;
}

.overflowScroll {
  overflow: scroll;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.textCenter {
  text-align: center;
}
